header {
  background-image: none;
  height: auto;
}

.articlename {
  color: forestgreen;
  font-family: 'ArchitectsDaughter';
  font-size: 70px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
.articletext {
  font-size: 20px;
}
.article-images {
  max-width: 100%;
  width: 100%;
}
.image-container {
  text-align: center;
}
.qoute {
  text-align: right;
  font-style: italic;
}
table, td {
	border: 2px solid green;
	border-collapse: collapse;
	padding: 10px;
    text-align: center;
  background-color: lightgoldenrodyellow;
    }
th{
  padding: 15px;
  background-color: aquamarine;
}
.t1{
  background-color: lightcyan;
}
h1 {
  color: forestgreen;
  font-family: 'ArchitectsDaughter';
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 10px;
  text-align: left;
}
#icon{
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}